## Import library

In [ ]:
import random
import gym
import numpy as np
import matplotlib.pyplot as plt

import torch
import torch.nn as nn
import torch.optim as optim
import torch.nn.functional as F
from torch.distributions import Normal
from torch.distributions import Categorical

# # import from local file
# from model.policy_network import PolicyNetworkBase, DPG_PolicyNetworkLSTM, DDPG_PolicyNetwork

# from env.env_FX_trade import ForexEnvTrain

# from preprocess_data.preprocessors import *

In [ ]:
# common library
import pandas as pd
import numpy as np
import time
import gym

# # RL models from stable-baselines
# # from stable_baselines3 import GAIL, SAC
# # from stable_baselines3 import ACER
# from stable_baselines3.ppo import PPO
# from stable_baselines3 import A2C
# from stable_baselines3 import DDPG
# from stable_baselines3 import TD3

# from stable_baselines3.common.noise import OrnsteinUhlenbeckActionNoise
# # from stable_baselines3.ddpg.policies import DDPGPolicy
# # from stable_baselines3.common.policies import MlpPolicy, MlpLstmPolicy, MlpLnLstmPolicy
# # from stable_baselines3.common.noise import NormalActionNoise, OrnsteinUhlenbeckActionNoise, AdaptiveParamNoiseSpec
# from stable_baselines3.common.vec_env import DummyVecEnv

## Download dataset from API

In [ ]:
pip install fxcmpy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting fxcmpy
  Downloading fxcmpy-1.3.3-py3-none-any.whl (28 kB)
Requirement already satisfied: requests[socks] in /usr/local/lib/python3.7/dist-packages (from fxcmpy) (2.23.0)
Collecting configparser
  Downloading configparser-5.2.0-py3-none-any.whl (19 kB)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from fxcmpy) (1.3.5)
Collecting python-engineio==4.3.1
  Downloading python_engineio-4.3.1-py3-none-any.whl (52 kB)
     |████████████████████████████████| 52 kB 1.4 MB/s
Collecting python-socketio==5.0.4
  Downloading python_socketio-5.0.4-py2.py3-none-any.whl (52 kB)
     |████████████████████████████████| 52 kB 1.3 MB/s
Collecting websocket-client
  Downloading websocket_client-1.3.3-py3-none-any.whl (54 kB)
     |████████████████████████████████| 54 kB 2.6 MB/s
Collecting bidict>=0.21.0
  Downloading bidict-0.22.0-py3-none-any.whl (36 kB)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas->fxcmpy) (1.21.6)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->fxcmpy) (2022.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->fxcmpy) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->fxcmpy) (1.15.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->fxcmpy) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->fxcmpy) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->fxcmpy) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->fxcmpy) (2022.6.15)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->fxcmpy) (1.7.1)
Installing collected packages: python-engineio, bidict, websocket-client, python-socketio, configparser, fxcmpy
Successfully installed bidict-0.22.0 configparser-5.2.0 fxcmpy-1.3.3 python-engineio-4.3.1 python-socketio-5.0.4 websocket-client-1.3.3

In [ ]:
import fxcmpy

In [ ]:
token = '6cbbad7e76893550bddb9647aacc280a28247ae5'

In [ ]:
con =  fxcmpy.fxcmpy(access_token = token, log_level = 'error', log_file = None)

In [ ]:
# All Tradable Instruments
con.get_instruments()

In [ ]:
# Instruments that your account is subscribed to
con.get_instruments_for_candles()

#Tự dộng down 30 mã

In [ ]:
list_currency= ['EUR/USD',  'USD/JPY',  'GBP/USD', 'USD/CHF', 'EUR/CHF','AUD/USD',
 'USD/CAD','NZD/USD', 'EUR/GBP','EUR/JPY', 'GBP/JPY','CHF/JPY', 'GBP/CHF','EUR/AUD',
  'EUR/CAD','AUD/CAD', 'AUD/JPY','CAD/JPY', 'NZD/JPY','GBP/CAD', 'GBP/NZD','GBP/AUD', 
  'AUD/NZD','USD/SEK', 'EUR/SEK','EUR/NOK', 'USD/NOK','USD/MXN', 'AUD/CHF','EUR/NZD',]

In [ ]:
print(list_currency)

['EUR/USD', 'USD/JPY', 'GBP/USD', 'USD/CHF', 'EUR/CHF', 'AUD/USD', 'USD/CAD', 'NZD/USD', 'EUR/GBP', 'EUR/JPY', 'GBP/JPY', 'CHF/JPY', 'GBP/CHF', 'EUR/AUD', 'EUR/CAD', 'AUD/CAD', 'AUD/JPY', 'CAD/JPY', 'NZD/JPY', 'GBP/CAD', 'GBP/NZD', 'GBP/AUD', 'AUD/NZD', 'USD/SEK', 'EUR/SEK', 'EUR/NOK', 'USD/NOK', 'USD/MXN', 'AUD/CHF', 'EUR/NZD']

In [ ]:
name='EUR/USD'

In [ ]:
#Khai báo thời gian
import datetime as dt
# start = dt.datetime(2021, 1, 1)
# stop = dt.datetime(2022, 7, 1)
start = dt.datetime(2022, 1, 1)
stop = dt.datetime(2022, 7, 1)

In [ ]:
full=pd.DataFrame()
for currency in list_currency:
    temp=currency[:3]+currency[4:7]
    df2=con.get_candles(currency, period='H1',start=start, stop=stop)
    df2['tic']=temp
    full= pd.concat([full, df2])

In [ ]:
full

,bidopen,bidclose,bidhigh,bidlow,askopen,askclose,askhigh,asklow,tickqty,tic
date,,,,,,,,,,
2022-01-02 22:00:00,1.13829,1.13726,1.13735,1.13652,1.13844,1.13769,1.13792,1.13691,701,EURUSD
2022-01-02 23:00:00,1.13726,1.13722,1.13781,1.13686,1.13769,1.13735,1.13800,1.13699,3094,EURUSD
2022-01-03 00:00:00,1.13722,1.13613,1.13750,1.13603,1.13735,1.13625,1.13763,1.13616,2634,EURUSD
2022-01-03 01:00:00,1.13613,1.13564,1.13647,1.13494,1.13625,1.13576,1.13659,1.13506,3682,EURUSD
2022-01-03 02:00:00,1.13564,1.13421,1.13564,1.13419,1.13576,1.13432,1.13577,1.13430,2798,EURUSD
...,...,...,...,...,...,...,...,...,...,...
2022-06-30 20:00:00,1.67731,1.67811,1.67885,1.67709,1.67777,1.68036,1.68043,1.67761,6971,EURNZD
2022-06-30 21:00:00,1.67778,1.67786,1.67922,1.67697,1.67962,1.67948,1.68196,1.67924,3711,EURNZD
2022-06-30 22:00:00,1.67778,1.67976,1.68068,1.67754,1.67948,1.68056,1.68125,1.67930,6223,EURNZD
2022-06-30 23:00:00,1.67979,1.67917,1.68031,1.67775,1.68056,1.67969,1.68082,1.67828,7022,EURNZD
2022-07-01 00:00:00,1.67922,1.68023,1.68032,1.67691,1.67971,1.68066,1.68073,1.67737,21181,EURNZD

In [ ]:
df=full
df['adjcp']=df[['bidclose','askclose']].mean(axis=1)
df['open']=df[['bidopen','askopen']].mean(axis=1)
df['high']=df[['bidhigh','askhigh']].mean(axis=1)
df['low']=df[['bidlow','asklow']].mean(axis=1)

In [ ]:
df

,bidopen,bidclose,bidhigh,bidlow,askopen,askclose,askhigh,asklow,tickqty,tic,adjcp,open,high,low
date,,,,,,,,,,,,,,
2022-01-02 22:00:00,1.13829,1.13726,1.13735,1.13652,1.13844,1.13769,1.13792,1.13691,701,EURUSD,1.137475,1.138365,1.137635,1.136715
2022-01-02 23:00:00,1.13726,1.13722,1.13781,1.13686,1.13769,1.13735,1.13800,1.13699,3094,EURUSD,1.137285,1.137475,1.137905,1.136925
2022-01-03 00:00:00,1.13722,1.13613,1.13750,1.13603,1.13735,1.13625,1.13763,1.13616,2634,EURUSD,1.136190,1.137285,1.137565,1.136095
2022-01-03 01:00:00,1.13613,1.13564,1.13647,1.13494,1.13625,1.13576,1.13659,1.13506,3682,EURUSD,1.135700,1.136190,1.136530,1.135000
2022-01-03 02:00:00,1.13564,1.13421,1.13564,1.13419,1.13576,1.13432,1.13577,1.13430,2798,EURUSD,1.134265,1.135700,1.135705,1.134245
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-06-30 20:00:00,1.67731,1.67811,1.67885,1.67709,1.67777,1.68036,1.68043,1.67761,6971,EURNZD,1.679235,1.677540,1.679640,1.677350
2022-06-30 21:00:00,1.67778,1.67786,1.67922,1.67697,1.67962,1.67948,1.68196,1.67924,3711,EURNZD,1.678670,1.678700,1.680590,1.678105
2022-06-30 22:00:00,1.67778,1.67976,1.68068,1.67754,1.67948,1.68056,1.68125,1.67930,6223,EURNZD,1.680160,1.678630,1.680965,1.678420
2022-06-30 23:00:00,1.67979,1.67917,1.68031,1.67775,1.68056,1.67969,1.68082,1.67828,7022,EURNZD,1.679430,1.680175,1.680565,1.678015
2022-07-01 00:00:00,1.67922,1.68023,1.68032,1.67691,1.67971,1.68066,1.68073,1.67737,21181,EURNZD,1.680445,1.679465,1.680525,1.677140

In [ ]:
dataset = df[['tic','adjcp', 'open', 'high', 'low', 'tickqty']]
dataset.columns = ['tic','close', 'open', 'high', 'low', 'volume']

In [ ]:
dataset

                        tic     close      open      high       low  volume
date
2022-01-02 22:00:00  EURUSD  1.137475  1.138365  1.137635  1.136715     701
2022-01-02 23:00:00  EURUSD  1.137285  1.137475  1.137905  1.136925    3094
2022-01-03 00:00:00  EURUSD  1.136190  1.137285  1.137565  1.136095    2634
2022-01-03 01:00:00  EURUSD  1.135700  1.136190  1.136530  1.135000    3682
2022-01-03 02:00:00  EURUSD  1.134265  1.135700  1.135705  1.134245    2798
...                     ...       ...       ...       ...       ...     ...
2022-06-30 20:00:00  EURNZD  1.679235  1.677540  1.679640  1.677350    6971
2022-06-30 21:00:00  EURNZD  1.678670  1.678700  1.680590  1.678105    3711
2022-06-30 22:00:00  EURNZD  1.680160  1.678630  1.680965  1.678420    6223
2022-06-30 23:00:00  EURNZD  1.679430  1.680175  1.680565  1.678015    7022
2022-07-01 00:00:00  EURNZD  1.680445  1.679465  1.680525  1.677140   21181

[93880 rows x 6 columns]

In [ ]:
dataset.to_csv('h1_30tic.csv')

In [ ]:
dataset

In [ ]:
from datetime import datetime
import pandas as pd
dateparse = lambda x: datetime.strptime(x, '%Y-%m-%d %H:%M:%S')
df2 = pd.read_csv('/content/h1_30tic.csv', parse_dates=['date'], date_parser=dateparse)

In [ ]:
for i in range (0,len(df2['date'])):
  df2['date'][i]=int(df2['date'][i].strftime("%Y%m%d%H"))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
df=pd.DataFrame()
for i in range (0,len(df2['date'])):
  if (df2['date'].value_counts()[df2['date'][i]])< 30:
     df2['date'][i]=999999999

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [ ]:
df2

             date     tic     close      open      high       low  volume
0       999999999  EURUSD  1.137475  1.138365  1.137635  1.136715     701
1      2022010223  EURUSD  1.137285  1.137475  1.137905  1.136925    3094
2      2022010300  EURUSD  1.136190  1.137285  1.137565  1.136095    2634
3      2022010301  EURUSD  1.135700  1.136190  1.136530  1.135000    3682
4      2022010302  EURUSD  1.134265  1.135700  1.135705  1.134245    2798
...           ...     ...       ...       ...       ...       ...     ...
93875  2022063020  EURNZD  1.679235  1.677540  1.679640  1.677350    6971
93876  2022063021  EURNZD  1.678670  1.678700  1.680590  1.678105    3711
93877  2022063022  EURNZD  1.680160  1.678630  1.680965  1.678420    6223
93878  2022063023  EURNZD  1.679430  1.680175  1.680565  1.678015    7022
93879  2022070100  EURNZD  1.680445  1.679465  1.680525  1.677140   21181

[93880 rows x 7 columns]

In [ ]:
df2['date'].value_counts()

999999999     1540
2022042510      30
2022050213      30
2022050214      30
2022050215      30
              ...
2022030223      30
2022030300      30
2022030301      30
2022030302      30
2022070100      30
Name: date, Length: 3079, dtype: int64

In [ ]:
df2.drop(df2.loc[df2['date']==999999999].index, inplace=True)

In [ ]:
df. rename(columns = {'date':'datadate'}, inplace = True)

In [ ]:
df2.to_csv('h1_30tic_final.csv')

In [ ]:
df2.to_csv('h1_30tic.csv')

#Thêm các chỉ báo macd, rsi, cci, adx

In [ ]:
!pip install stockstats
import stockstats as st

Installing collected packages: stockstats
Successfully installed stockstats-0.4.1

In [ ]:
dataset=st.wrap(dataset)

In [ ]:
dataset['macd']
dataset['rsi']
dataset['cci']
dataset['adx']

date
20180102           NaN
20180103    100.000000
20180104     92.141623
20180105     89.618292
20180107     84.178445
               ...
20220627     45.152991
20220628     48.195601
20220629     52.152129
20220630     44.076491
20220701     43.284257
Name: adx, Length: 41103, dtype: float64

In [ ]:
dataset=dataset[['tic', 'close','open', 'high', 'low','volume','macd','rsi','cci','adx']]

In [ ]:
dataset=st.unwrap(dataset)

In [ ]:
dataset=dataset.fillna(0)
dataset

,tic,close,open,high,low,volume,macd,rsi,cci,adx
date,,,,,,,,,,
20180102,EURUSD,1.205830,1.201240,1.208125,1.200305,160870,0.000000,0.000000,0.000000,0.000000
20180103,EURUSD,1.201435,1.205830,1.206625,1.200115,169113,-0.000099,0.000000,-66.666667,100.000000
20180104,EURUSD,1.206840,1.201435,1.208905,1.200435,182656,0.000042,56.978276,70.440028,92.141623
20180105,EURUSD,1.203125,1.206840,1.208305,1.202060,186291,-0.000029,40.076102,12.745856,89.618292
20180107,EURUSD,1.202950,1.203125,1.203260,1.201945,346,-0.000074,39.481952,-83.547723,84.178445
...,...,...,...,...,...,...,...,...,...,...
20220627,EURNZD,1.679640,1.671770,1.682325,1.669570,398352,0.007453,61.401468,108.934147,45.152991
20220628,EURNZD,1.686455,1.679605,1.687370,1.677260,409447,0.008334,64.308307,141.894433,48.195601
20220629,EURNZD,1.678770,1.685835,1.693200,1.677580,442486,0.008317,58.919735,116.091755,52.152129
20220630,EURNZD,1.679235,1.678340,1.684760,1.666560,491657,0.008245,59.142819,52.538047,44.076491
20220701,EURNZD,1.680120,1.678700,1.696795,1.676245,480253,0.008166,59.592570,102.204717,43.284257

In [ ]:
dataset.to_csv('dataset.csv')

In [ ]:
len(dataset['tic'].value_counts())

30

In [ ]:
from datetime import datetime
import pandas as pd
dateparse = lambda x: datetime.strptime(x, '%Y%m%d')
full_processed = pd.read_csv('/content/dataset (4).csv', parse_dates=['date'], date_parser=dateparse)

In [ ]:
for i in range (0,len(full_processed['date'])):
  full_processed['date'][i]=int(full_processed['date'][i].strftime("%Y%m%d"))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
full_processed

,date,tic,close,open,high,low,volume,macd,rsi,cci,adx
0,20180102,EURUSD,1.205830,1.201240,1.208125,1.200305,160870,0.000000,0.000000,0.000000,0.000000
1,20180103,EURUSD,1.201435,1.205830,1.206625,1.200115,169113,-0.000099,0.000000,-66.666667,100.000000
2,20180104,EURUSD,1.206840,1.201435,1.208905,1.200435,182656,0.000042,56.978276,70.440028,92.141623
3,20180105,EURUSD,1.203125,1.206840,1.208305,1.202060,186291,-0.000029,40.076102,12.745856,89.618292
4,20180107,EURUSD,1.202950,1.203125,1.203260,1.201945,346,-0.000074,39.481952,-83.547723,84.178445
...,...,...,...,...,...,...,...,...,...,...,...
41098,20220627,EURNZD,1.679640,1.671770,1.682325,1.669570,398352,0.007453,61.401468,108.934147,45.152991
41099,20220628,EURNZD,1.686455,1.679605,1.687370,1.677260,409447,0.008334,64.308307,141.894433,48.195601
41100,20220629,EURNZD,1.678770,1.685835,1.693200,1.677580,442486,0.008317,58.919735,116.091755,52.152129
41101,20220630,EURNZD,1.679235,1.678340,1.684760,1.666560,491657,0.008245,59.142819,52.538047,44.076491
41102,20220701,EURNZD,1.680120,1.678700,1.696795,1.676245,480253,0.008166,59.592570,102.204717,43.284257

#Xóa các dùng ngày tháng không trùng nhau của 30 mã

In [ ]:
df=pd.DataFrame()
for i in range (0,len(full_processed['date'])):
  if (full_processed['date'].value_counts()[full_processed['date'][i]])< 30:
     full_processed['date'][i]=999999999

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [ ]:
full_processed = full_processed[full_processed.date != 999999999]

In [ ]:
full_processed['date'].value_counts()

20180102    30
20201215    30
20201223    30
20201222    30
20201221    30
            ..
20190614    30
20190613    30
20190612    30
20190611    30
20220701    30
Name: date, Length: 1231, dtype: int64

In [ ]:
full_processed

,date,tic,close,open,high,low,volume,macd,rsi,cci,adx
0,20180102,EURUSD,1.205830,1.201240,1.208125,1.200305,160870,0.000000,0.000000,0.000000,0.000000
1,20180103,EURUSD,1.201435,1.205830,1.206625,1.200115,169113,-0.000099,0.000000,-66.666667,100.000000
2,20180104,EURUSD,1.206840,1.201435,1.208905,1.200435,182656,0.000042,56.978276,70.440028,92.141623
3,20180105,EURUSD,1.203125,1.206840,1.208305,1.202060,186291,-0.000029,40.076102,12.745856,89.618292
4,20180107,EURUSD,1.202950,1.203125,1.203260,1.201945,346,-0.000074,39.481952,-83.547723,84.178445
...,...,...,...,...,...,...,...,...,...,...,...
41098,20220627,EURNZD,1.679640,1.671770,1.682325,1.669570,398352,0.007453,61.401468,108.934147,45.152991
41099,20220628,EURNZD,1.686455,1.679605,1.687370,1.677260,409447,0.008334,64.308307,141.894433,48.195601
41100,20220629,EURNZD,1.678770,1.685835,1.693200,1.677580,442486,0.008317,58.919735,116.091755,52.152129
41101,20220630,EURNZD,1.679235,1.678340,1.684760,1.666560,491657,0.008245,59.142819,52.538047,44.076491
41102,20220701,EURNZD,1.680120,1.678700,1.696795,1.676245,480253,0.008166,59.592570,102.204717,43.284257

In [ ]:
full_processed=full_processed.sort_values(['date','tic'],ignore_index=True)

In [ ]:
full_processed.rename(columns = {'date':'datadate'}, inplace = True)

In [ ]:
full_processed

,datadate,tic,close,open,high,low,volume,macd,rsi,cci,adx
0,20180102,AUDCAD,0.979655,0.982285,0.982895,0.978135,92743,-0.031074,5.824153,-466.666667,45.167448
1,20180102,AUDCHF,0.760795,0.760445,0.763820,0.759165,79787,-1.497199,3.686504,-466.666667,43.964400
2,20180102,AUDJPY,87.921500,87.908000,88.404500,87.632500,115328,6.937478,99.960771,466.666667,56.770653
3,20180102,AUDNZD,1.102185,1.098575,1.102670,1.097805,104294,-0.049771,6.333644,-466.666667,41.914018
4,20180102,AUDUSD,0.782990,0.780530,0.784475,0.779460,85073,-0.025938,5.207848,-466.666667,68.374600
...,...,...,...,...,...,...,...,...,...,...,...
36925,20220701,USDCHF,0.959325,0.955065,0.964190,0.954450,261758,-0.004518,42.942135,-49.403761,42.448105
36926,20220701,USDJPY,135.250000,135.727000,135.988500,134.743000,498495,1.346404,57.583466,13.792674,19.645555
36927,20220701,USDMXN,20.259850,20.111550,20.466250,20.085000,129114,0.050007,57.576970,36.859208,23.448502
36928,20220701,USDNOK,9.935300,9.873700,10.001310,9.839295,316977,0.089402,59.028946,16.542205,23.263065
36929,20220701,USDSEK,10.308250,10.244100,10.376900,10.209100,286632,0.088180,65.720052,186.509579,49.298971

In [ ]:
full_processed.to_csv('full_index_sorted.csv')

In [ ]:
dataset.to_csv('full.csv', sep=',')

In [ ]:
from datetime import datetime
import pandas as pd
dateparse = lambda x: datetime.strptime(x, '%Y-%m-%d %H:%M:%S')
df2 = pd.read_csv('/content/full.csv', parse_dates=['date'], date_parser=dateparse)

In [ ]:
for i in range (0,len(df2['date'])):
  df2['date'][i]=int(df2['date'][i].strftime("%Y%m%d"))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
df2.head()
df2.to_csv('df2.csv', sep=',')

In [ ]:
df2.head()

       date     tic     adjcp      open      high       low  volume
0  20090202  EURUSD  1.284335  1.280490  1.289920  1.270655   72999
1  20090203  EURUSD  1.304070  1.284335  1.305825  1.280155   78430
2  20090204  EURUSD  1.284920  1.304070  1.307065  1.281280   80141
3  20090205  EURUSD  1.279045  1.284920  1.290550  1.276120   80256
4  20090206  EURUSD  1.292570  1.279045  1.299290  1.274775   73764

In [ ]:
print(df2['date'][0])

20180102

In [ ]:
df=pd.DataFrame()
for i in range (0,len(df2['date'])):
  if (df2['date'].value_counts()[df2['date'][i]])< 30:
     df2['date'][i]=999999999

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [ ]:
df2['date'].value_counts()

999999999    4473
20201218       30
20201229       30
20201228       30
20201224       30
             ...
20190621       30
20190620       30
20190619       30
20190618       30
20220701       30
Name: date, Length: 1222, dtype: int64

In [ ]:
df2.to_csv('df2.csv', sep=',')

In [ ]:
df.value_counts()

date      tic     adjcp       open        high        low         volume
20180102  AUDCAD  0.979655    0.982285    0.982895    0.978135    92743     1
20201222  CADJPY  80.291000   80.360500   80.468500   80.145500   158368    1
20201220  EURAUD  1.611305    1.608205    1.611970    1.611185    22        1
          EURCAD  1.564320    1.567020    1.565130    1.564235    30        1
          EURCHF  1.082300    1.082370    1.082860    1.081470    171       1
                                                                           ..
20190625  GBPAUD  1.822885    1.829325    1.836735    1.821560    858419    1
          GBPCAD  1.671025    1.679070    1.685850    1.670080    392960    1
          GBPCHF  1.237750    1.238415    1.245905    1.236045    412695    1
          GBPJPY  136.007000  136.699500  136.847000  135.812000  422416    1
20220701  USDSEK  10.308250   10.244100   10.376900   10.209100   286632    1
Length: 41091, dtype: int64

In [ ]:
df.to_csv('df.csv', sep=',')

In [ ]:
for i in range()

In [ ]:
df2.head()
df3=pd.to_csv('df.csv', sep=',')

In [ ]:
current=pd.read_csv('/content/30 currency 1 day chart 2018 2022.csv')

In [ ]:
current.to_csv('current.csv', sep=',')

In [ ]:
dataset

                        Open    Close     High      Low  Volume
date
2021-01-03 19:00:00  1.22169  1.22358  1.22399  1.22345       5
2021-01-03 20:00:00  1.22358  1.22450  1.22450  1.22335     105
2021-01-03 21:00:00  1.22450  1.22416  1.22469  1.22390     257
2021-01-03 22:00:00  1.22416  1.22356  1.22456  1.22328     678
2021-01-03 23:00:00  1.22356  1.22505  1.22534  1.22318    9591
...                      ...      ...      ...      ...     ...
2022-06-30 20:00:00  1.04792  1.04855  1.04857  1.04792    3842
2022-06-30 21:00:00  1.04855  1.04837  1.04872  1.04822    3188
2022-06-30 22:00:00  1.04836  1.04778  1.04848  1.04745    4072
2022-06-30 23:00:00  1.04778  1.04790  1.04802  1.04755    4229
2022-07-01 00:00:00  1.04790  1.04722  1.04792  1.04672   11636

[9501 rows x 5 columns]